.header {
    padding: 20px 0;
    margin-bottom: 50px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    fill: var(--icon-color);
    user-select: none;
}

.theme:hover {
    cursor: pointer;
}